.search-content{
    
}

.shopping-btn{
    padding: 0.65rem 2.8rem;
    margin-top: 1.6rem;

    &:hover{
        background-color: white;
    }
}

.search-title{
    color: #707070;
    font-size: 14px;
    width: 30%;
    margin: 0px auto;
    padding-top: 80px;
}
