@import "../../App.scss";

.header{
    .header-cnt-top{
        border-bottom: 1px solid lighten($clr-orange, 10%);
    }

    @media screen and (max-width: 992px){
        .header-cnt-top{
            flex-direction: column;
            .header-cnt-top-l{
                margin-bottom: 4px;
            }
        }
    }
    
}

.path-css{
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
    display: flex;
    height: 30px;
    width: 100%;
    color: #707070;
}

.icon-css{
    color: #707070;
    font-size: 12px;
    margin-right: 10px;
}