.slider-wrapper {
  margin-top: 15px;
}
.main-content {
  min-height: 30vh;
}
.categories {
  .categories-item {
   
    .title-md {
      margin-bottom: 2.8rem;
      border: 1px solid #128de2;
      background-color: #128de2;
      color: white;
      border-radius: 15px;
    }
  }
}
