.slick-list {
  height: 387px;
  border-radius: 15px;
}
.banner-slider {
  border-radius: 15px;
  height: 42%;
  width: 88%;
}
.slider-wrapper {
  margin-top: -109px;
  background-color: white;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    opacity: 0;
}
.swiper-button-next::after, .swiper-button-prev::after{
   opacity: 0;
}
.react-multiple-carousel__arrow{
  opacity: 0!important;
}

.slider-content:hover .react-multiple-carousel__arrow{
  align-items: center;
  background: #fff!important;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
  display: flex;
  font-size: 1.8rem;
  height: 30px;
  justify-content: center;
  opacity: .8!important;
  outline: none!important;
  top: 45%;
  transition: .3s!important;
  width: 30px;
  z-index: 1!important;
}

.banner-slider .react-multi-carousel-list:hover .react-multiple-carousel__arrow{
  align-items: center;
  background: #fff!important;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
  display: flex;
  font-size: 1.8rem;
  height: 30px;
  justify-content: center;
  opacity: .8!important;
  outline: none!important;
  top: 39%;
  transition: .3s!important;
  width: 30px;
  z-index: 1!important;
}